<div class="container mt-5">
  <h1>Liste des sportifs</h1>
  <div class="row">
    <div *ngFor="let sportif of sportifs" class="card" style="width: 18rem">
      <img src="assets/img/sportifs/{{sportif.image}}" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{sportif.nom}}-{{sportif.prenom}} </h5>
        <p class="card-text"> </p>
        <a routerLink="/detail/{{sportif.id}}" class="btn btn-primary">Details</a>
      </div>
    </div>
  </div>
</div>
